<!––home.html-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/litera/bootstrap.min.css"
    />
    <title>DB</title>
  </head>
  <body>
   <nav class="navbar bg-light">
      <a class="navbar-brand" >Database - Admin</a>
      <form method="get" action="/">
        <input type="submit" value = "Logout">
      </form>
      <form method="get" action="/homeAdmin">
        <input type="submit" value = "Home">
      </form>
    </nav>
    </nav>

	
    <div
      class="jumbotron text-light"
      style="background-color: rgb(125, 116, 207)"; 
      background-size: auto;"
    >


	 <table style="width:100" border="1" align="center" bgcolor = "#383838"  >
  <tr>
    <th>EID</th>
    <th>PID</th>
    <th>MgrID</th>
	<th>DID</th>
	<th>PStart</th>
	<th>PEnd</th>
  </tr>

<% for(var i=0; i<data.length; i++){          %>
	<tr>
	<td><%= data[i].EID %></td>
	<td><%= data[i].PID %></td>
	<td><%= data[i].MgrID %></td>
	<td><%= data[i].DID %></td>
	<td><%= data[i].Pstart %></td>
	<td><%= data[i].Pend %></td>
	</tr>


<% } %>
</table> 
  
    </div>
 </body>
</html>
